@import "tailwindcss";

body {
  /*background-color: #0f172a;*/
  background: url("./assets/backgroundimage.jpeg");
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}